body {
  background: rgb(157, 230, 157);
  font-family: Arial, sans-serif;  
}

main {
  font-size: 1.5rem;
  text-align: center;
  margin: 2rem;
}

input, button {
  font-size: inherit;
  padding: 1rem;
  text-align: center;
}

header {
  width: 100vw;
  height: 4rem;
  background-color: #000000cc;
  color: #fffffff5;
  display: flex;
  align-items: center;
  justify-content: center;
}

header > h1 {
  font-size: 2.25rem;
  font-weight: bold;
  transition: all 500ms ease;
}

#result {
  padding: 1rem;
}

